[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
black = "*"

[packages]
flask = "*"
python-dotenv = "*"
gunicorn = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
mysql = "*"
email-validator = "*"
werkzeug = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
