[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
python-dotenv = "*"
gunicorn = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bcrypt = "*"
flask-login = "*"
mysql = "*"
email-validator = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
