{% extends 'layouts/app.html' %}

{% block app_content %}
    <div class="bg-indigo-600 p-2 shadow text-xl text-white flex justify-between">
        <h3 class="font-bold pl-2 inline">Student Management</h3>
        <a href="{{ url_for('students.new') }}">
            <button class="font-bold pr-2">Add New Student</button>
        </a>
    </div>
    <section>
        <div id='students' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
            <table id="studentsTable" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                <thead>
                <tr>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Email</th>
                    <th class="px-4 py-2">Course Code</th>
                    <th class="px-4 py-2">Stage</th>
                    <th class="px-4 py-2">Last Contact</th>
                    <th class="px-4 py-2">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr class="clickable" onclick="window.location.href = '{{ url_for('students.view', student_id=student.id) }}'">
                        <td class="border px-4 py-2">
                            {{ student.name }}
                        </td>
                        <td class="border px-4 py-2">
                            {{ student.email }}
                        </td>
                        <td class="border px-4 py-2">
                            {{ student.course }}
                        </td>
                        <td class="border px-4 py-2">
                            {{ student.stage }}
                        </td>
                        <td class="border px-4 py-2">
                            {{ student.last_contact }}
                        </td>
                        <td class="border px-4 py-2">
                            {{ 'Active' if student.active == 1 else 'InActive' }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}