<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MentorDashboard</title>

    <!-- Styles -->
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen antialiased leading-none">
<div id="app">
    <nav class="bg-gray-900 shadow mb-8 py-6">
        <div class="container mx-auto px-6 md:px-0">
            <div class="flex items-center justify-center">
                <div class="mr-6">
                    <a href="{{ url_for('main.index') }}" class="text-lg font-semibold text-gray-100 no-underline">
                        MentorDashboard
                    </a>
                </div>
                <div class="flex-1 text-right">

                </div>
            </div>
        </div>
    </nav>

    {% block app_content %}{% endblock %}
</div>
<noscript><img src="https://shynet.msrr.xyz/ingress/4c14aa9e-6633-47e8-9715-125c6991d415/pixel.gif"></noscript>
<script src="https://shynet.msrr.xyz/ingress/4c14aa9e-6633-47e8-9715-125c6991d415/script.js"></script>
</body>
</html>
