{% extends 'layouts/auth.html' %}

{% block app_content %}
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center">
            <div class="w-full max-w-sm">
                <div class="flex flex-col break-words bg-white border-2 rounded shadow-md">

                    <div class="font-semibold bg-gray-200 text-gray-700 py-3 px-6 mb-0">
                        Register
                    </div>

                    <form class="w-full p-6" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="flex flex-wrap mb-6">
                            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                                Name:
                            </label>
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>

                        <div class="flex flex-wrap mb-6">
                            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                                Email Address:
                            </label>

                            {{ form.email }}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>

                        <div class="flex flex-wrap mb-6">
                            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                                Password:
                            </label>

                            {{ form.password }}
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>

                        <div class="flex flex-wrap mb-6">
                            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                                Confirm Password:
                            </label>

                            {{ form.password_confirm }}
                            {% for error in form.password_confirm.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>

                        <div class="flex flex-wrap">
                            <input type="submit"
                                   class="inline-block align-middle text-center select-none border font-bold whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-gray-100 bg-blue-500 hover:bg-blue-700"
                                   value="Register"/>

                            <p class="w-full text-xs text-center text-gray-700 mt-8 -mb-4">
                                Already have an account?
                                <a class="text-blue-500 hover:text-blue-700 no-underline" href="#">
                                    Login
                                </a>
                            </p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}